<h1> Here is the animal you requested to see: </h1>

<ul>
<li>This is <%= @result_animal.name %>, who is a <%= @result_animal.species %>.</li>
<li>This darling is <%= @result_animal.age %> years old.</li>
</ul>
