<style>
@import url('https://fonts.googleapis.com/css?family=Ledger|Nixie+One');
</style>
<h1>Welcome to the Rails Zoo</h1>
<%@animals.each_with_index do | number|%>
<ul>

  <li> <%=link_to " Animal ##{number.id}: #{number.name} is a #{number.age} year old #{number.species}.", animal_path(number.id)%></li>
</ul>
<%end%>

<%=link_to "Add an animal", new_animal_path=%>
