<aside class="side-bar">

  <header>
    <h1>
      <%= link_to "virtual zoo", animals_path %>
    </h1>
  </header>

  <section class="sidebar-main">
    <p class="meet-the-animals">meet the animals</p>

    <ul class="index-animal-sidebar">
      <% @animals.each do |animal| %>
        <li class="animal-title-sidebar">
          <%= link_to animal.name, animal_path(animal.id) %>
        </li>
      <% end %>
    </ul>

  </section>

  <footer>
    <p class="home-button">
      <%= link_to "return to main zoo", animals_path %>
    </p>
    <p class="sidebar-footer">
      &copy; <%= link_to "aurora lemieux", to: "http://github.com/auroralemieux" %>
    </p>
  </footer>


</aside>
