<%= render partial: "sidebar", locals: {zone: @zone} %>

<section class="content edit-form">
  <h2>editing "<%= @animal.name %>" </h2>
  <%= render partial: "form", locals: {zone: @zone} %>
</section>
