<%= render partial: "form"%>
<section id = "edit_section">
  <%= link_to image_tag("left1.png", alt: "Edit buttom", height: "30px", class: "button_image"), @back_url, class: "button_link"%>
</section>
