<section class="edit-container">
  <%= render partial: "sidebar" %>

    <section class="content edit-form">
      <h2 class="edit-animal-header">editing <%= @animal.name %></h2>
      <%= render partial: "form", locals: {zone: @zone} %>
    </section>
</section>
