<section class="edit-container">
  <%= render partial: "sidebar" %>

  <section class="content edit-form">
    <div class="grey-box">
      <h2 class="edit-animal-header">editing <%= @animal.name %></h2>
      <%= render partial: "form" %>
    </div>
  </section>
</section>
