<h1>Update Animal Info</h1>

<%= render partial: "form", locals: { submit_text: "Update Animal Info"}%>

<p class="links"><%= link_to "Go Back to Animal", animal_path %></p>
<p class="links"><%= link_to "Go Back to Home Page", animals_path %></p>
