<h2><%= "Update #{@animal.name}'s information: " %></h2>

<%= render partial: "form", locals: { button_text: "Update" } %>

</br>
</br>
<%=button_to "Delete this animal", animal_path(@animal), method: :delete, data:  {confirm: "Are you sure you want to banish this animal from our family?"} %>
</br>
<%= button_to "Back to zany zoo list", animals_path, method: :get %>
