<ul>
  <p>
    <% @animals.each do |animal| %>
      <li>
        <%= link_to animal.name, animal_path(animal.id) %>
        <img src= <%= animal.img %> alt="animal image">
      </li>
    <% end %>
  </p>
</ul>
