<h1>This is the index file</h1>

<table>
  <tr>
    <th>
     Name
    </th>
    <th id="table_head2">
    Species
    </th>
    <th>
    Age
    </th>
    <th>
    unit
    </th>
  </tr>

<% @animals.each do |animal|%>
  <tr>
    <td><%= animal.name %></td>

    <td><%= animal.species %></td>

    <td><%= animal.age %></td>

    <td><%= animal.age_unit %></td>
  </tr>
  <% end %>
</table>
