
<% @animals.each do |animal|%>
  <ul>
    <li>
      <%= link_to animal.name, animal_path(animal.id) %>
    </li>
    <li>
      <%= button_to "Delete", animal_path(animal.id), method: :delete,
      data: {confirm: "Are you sure to delete animal #{animal.name}"} %>
    </li>

  </ul>

<% end %>
  <%= link_to "Add an Animal", new_animal_path %>
