<h1>This is the index file</h1>
<table>
<% @animals.each do |animal|%>
    <ul><li>

    <%= animal.name %></li>
  <li><%= animal.species %></li>
<li><%= animal.age %></li></ul>



</table>
  <% end %>
