<h1>virtual zoo</h1>
<p>fun with virtual animals!</p>

<% @animals.each do |animal| %>

  <ul>
    <li>
      <%= link_to animal.name, animal_path(animal.id) %>
    </li>
    <li>
      <%= image_tag animal.image %>
    </li>
  </ul>

<% end %>
