<h1>Salmon Sanctuary Animals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Species</th>
  </tr>
  <% @animals.each do |animal| %>
    <tr>
      <td><%= animal.name %></td>
      <td><%= animal.species %></td>
    </tr>
  <% end %>
</table>
