<main>
  <h2>Animals</h2>
  <ul>
    <% @animals.each do |animal| %>
      <li>
        <%= link_to animal.name + " the " + animal.species, animal_path(animal.id) %>
      </li>
    <% end %>
  </ul>
</main>
