<h1>Animals#index</h1>

<ul>
  <% @animals.each do |animal| %>
    <li>
     <%= link_to animal.name, animal_path(animal.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add Animals", new_animal_path %>
