<article class="index">
  <h1>My Zoo</h1>
  <% @animals.each do |animal| %>
    <p>
    <%= animal.name %> the <%= animal.species %>
    </p>

    <%= link_to "Details", animal_path(animal.id) %>

  <% end %>

  <p>
    <%= link_to "Add an Animal", new_animal_path %>
  </p>
</article>
