<h1>The Vegetarian Animal Zoo</h1>

<h2>Our Animal Residents</h2>

  <ul>
    <% @animals.each do |animal| %>
      <div>
        <p id="image">
          <%=  image_tag "http://lorempixel.com/400/200/animals", alt: "Photo of animal"%>
        </p>
        <p>
          <%= link_to animal[:name], animal_path(animal.id) %>
        </p>
        <li>
          <%= animal[:species] %>
        </li>
      </div>
    <% end %>

  </ul>

  <p class="links"><%= button_to "Add a new animal", new_animal_path, :class => "button", :method => :get %></p>
