<h1>Animals#index</h1>

<% @animals.each do |animal| %>
  <p>
  <%= animal.name %> is a <%= animal.species %> who is <%= animal.age %> years old.
  </p>

  <%= link_to "Details", animal_path(animal.id) %>
<% end %>
