<h1>Animals at the zoo/h1>

<ul>

<% @animals.each do |animal| %>
   <li><%= animal.name  %></li>
   <li><%= animal.species %></li>
   <li><%= animal.age %></li>
   <% end %>


</ul>

<h4><%= link_to "new animal", new_animal_path %></h4>
