<h1>Salmon Sanctuary Animals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Species</th>
  </tr>
  <% @animals.each do |animal| %>
    <tr>
      <td><%= link_to animal.name, animal_path(animal.id) %></td>
      <td><%= animal.species %></td>
      <td><%= link_to "edit", edit_animal_path(animal.id) %></td>
    </tr>
  <% end %>
</table>

<%= button_to "Add a Salmon", new_animal_path, method: :get %>
