<h1>List of Animals</h1>

<ul class="animal-list">

<% @animals.each do |animal| %>
<li class="individual-animal"> <%= link_to animal.name, animal_path(animal.id) %>
<% end %>
</ul>

<%= link_to "Would you like to create a new animal?", new_animal_path %>
