<ul>
  <% @animals.each do |animal| %>
    <li>
      <%= link_to animal.name, animal_path(animal.id)%>
      <%= animal.species %>
      <%= animal.age %>
    </li>
  <% end %>
</ul>

<%= link_to "New arrival", new_animal_path%>
