<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Ting's Animal Zoo </title>
  </head>
  <body>
    <main>
      <h2> All of the Animals </h2>
      <ul>
        <% @animals.each do |animal| %>
          <li><%= link_to "Name: #{animal.name}", animal_path(animal.id) %></li>
        <% end %>
      </ul>
      <%= button_to "Add new animal", new_animal_path, method: :get %>

    </main>
  </body>
</html>
