<%= render partial: "sidebar", locals: {zone: @zone} %>

<section class="content all-zoo-animals">
  <% @animals.each do |animal| %>

    <ul class="index-animal">
      <li class="animal-image-thumbnail">
        <%= image_tag animal.image %>
      </li>
      <li class="animal-main-title">
        <%= link_to animal.name, animal_path(animal.id) %>
      </li>
    </ul>

  <% end %>
</section>
