<section class="container">
  <%= render partial: "sidebar" %>

  <section class="content new-form">
    <div class="grey-box">
      <h2 class="new-animal-header">New Animal</h2>
      <%= render partial: "form" %>
    </div>
  </section>
</section>
