<%= render partial: "sidebar", locals: {zone: @zone} %>

<section class="content new-form">
  <h2 class="new-animal-header">New Animal</h2>
  <%= render partial: "form", locals: {zone: @zone} %>
</section>
