<%= render partial: "form"%>
<section id = "new_section">
  <%= link_to image_tag("left1.png", alt: "Back button", height: "30px", class: "button_image"), animals_path, class: "button_link"%>
</section>
