<main>
  <h2><%= @animal.name %> the <%= @animal.species %></h2>
  <img src="http://lorempixel.com/200/300/animals" alt="animal">
  <p>
    <%= @animal.name %> is <%= @animal.age %> years old.
  </p>
</main>
