<h1>About This Animal</h1>


  <p>
  <%= @animal.name  %></br>
  <%=@animal.species %></br>
  <%=@animal.age %>
  <%=@animal.image_link %>
</br>
</p>
<!-- <p><%#= image_tag @animal.image_link, width:"400" %></p> -->
