<h1><%= @animal[:name] %>!</h1>
<img src="http://lorempixel.com/400/200/animals" alt="Animal Picture">
<h2>Species: <%= @animal[:species] %></h2>
<h3>Age: <%= @animal[:age] %></h3>

<%= link_to "Back to animals list", animals_path %>
