<h1>Animal Details</h1>
<ul>
  <%= image_tag("zoopic.jpg", border: 0, size: "200x150") %>
  <li>Name: <%= @result_animal.name %></li>
  <li>Species: <%= @result_animal.species %></li>
  <li>Age: <%= @result_animal.age %></li>
</ul>
