<h6> Your First and Last Name </h6><br>
<%= f.label :first_guest_first_name, class: 'hidden' %>
<%= f.text_field :first_guest_first_name, placeholder: 'first name' %>

<%= f.label :first_guest_last_name, class: 'hidden'  %>
<%= f.text_field :first_guest_last_name, placeholder: 'last name' %>

