<% content_for :background do %>
     class="flexbox developer background"
<% end %>

<ul class="content">
     <li class="title"><h1> The Game Plan </h1></li>
     <li class="tagline"><h4> Here's the blueprint for the weekend. #getready </h4></li>
</ul

<% content_for :feature do %>
     <li class="subtitle"> <h2> Come rested. Come hungry. </h2>
     <li class="divider"></li>
     <li class="description">
          <p>  <strong> All are welcome to all events. </strong> <br><br>
               <strong> FRIDAY: </strong> <br>
               <strong> Shack Up </strong> (Check In): <br> 3pm until 8pm <br>
               <strong> Catfish Fry </strong> (Rehearsal dinner hosted by the Groom's Mama and her Beau): <br> 7:30pm until midnight <br> Dress is deco casual for the evening. <br><br>

               <strong> SATURDAY: </strong> <br>
               <strong> Crossroads </strong> (A potent mix of breakfast, museum and walking tour): <br> 9am until 3pm <br> Dress is casual. <br>
               <strong> Making It Legal </strong> (The Ceremony): <br> 6:15pm until 6:45pm <br> Dress is deco black-tie for the evening. <br>
               <strong> Moonshine Hour </strong> (Local Liquor Tasting): <br> 6:45pm until 7:30pm <br>
               <strong> BBQ & Bourbon </strong> (The Reception hosted by the bride
               Mama and Papa of the Bride): <br> 7:30pm until 12 midnight <br>
               <strong> Backyard Bonfire </strong> (The After Party): <br> Midnight until 2am <br> Slip into something casual. <br><br>

               <strong> SUNDAY: </strong> <br>
               <strong> Brown Bottle Flu Remedy </strong> (Send Off Brunch hosted by the Groom's Papa and his Belle): <br> 10am until 12 noon <br> Dress is vintage smart. <br><br>

               <a href="#" target="_blank"><button class="button-small"> RSVP </button></a>
          </p>
     </li>
<% end %>
