<% content_for :background do %>
     class="flexbox accountant background"
<% end %>

<ul class="content">
     <li class="title"><h1> No Posers </h1></li>
     <li class="tagline"><h4>Before you come, you best know what's in store!</h4></li>
</ul

<% content_for :feature do %>
     <li class="subtitle"><h2> the conditions </h2></li>
     <li class="divider"></li>
     <li class="description">
          <span>
               <strong>JANICE:</strong> Condition #1. You understand that you won’t just be an observer, but a participant. You don't mind getting your hands dirty to make certain we're good and married by the end of the weekend. <br><br>

               <strong>MARK:</strong> Condition #2. You're fairly confident you can tolerate us for the entire weekend. <br><br>

               <strong>JANICE:</strong> Condition #3. You’re ready to celebrate. Down-home Delta style. <br><br>

               <strong>MARK:</strong> This is our one chance to get the awesomeness of the Bensons, Wheatons, Zawistoskis and, Lord help us, the Wilsons in the same juke joint. We're not squandering this opportunity\. Janice and I are going the distance. And we hope you will, too! <br><br>


               <%= button_to "RSVP", new_reservation_path, method: :get, class: 'button button-small' %>

          </span>
     </li>
<% end %>
