<% content_for :background do %>
     class="flexbox engaged background"
<% end %>

<ul class="content">
     <li class="title"><h1> tl;dr </h1></li>
     <li class="tagline"><h4> We don't want gifts. We just want you. </h4></li>
</ul

<% content_for :feature do %>
     <li class="subtitle"><h2> No Registry </h2></li>
     <li class="divider"></li>
     <li class="description">
          <p>
               <strong>MARK:</strong> Seriously. No registry. We understand that we’re making a big ask. Some of you will be traveling from all over the country and in some cases, the world! <br><br>

               <strong>JANICE:</strong> We understand travel and lodging for an entire weekend is expensive. Both in terms of time and money. Mark and I have no desire to add to that burden in the form of a gift. Especially when your presence is all the gift we need. <br><br>

               <a href="#" target="_blank"><button class="button-small"> RSVP </button></a>
          </p>
     </li>
<% end %>
