<% content_for :background do %>
     class="flexbox bride-and-groom background"
<% end %>

<ul class="content">
     <li class="title"><h1> We're getting hitched!</h1></li>
     <li class="tagline"><h4>And we want <strong>you</strong> to join the celebration!</h4></li>
      <li class="call-to-action">
           <a href="#" target="_blank"><button> RSVP </button></a>
      </li>
</ul

<% content_for :feature do %>
     <li class="subtitle"><h2> 01 to 03 September 2017 </h2></li>
     <li class="divider"></li>
     <li class="description">
     <p>
          <strong>MARK:</strong> Janice and I fully understand that we won't have this sort of pull ever again. Only a wedding motivates kinfolk (family <strong>and</strong> friend) to consume cherished vacation time and travel absurd distances. Consequently, we’re taking full advantage of this opportunity. <br><br>

          <strong>JANICE:</strong> We'll be shacking it, and consequently have fewer invitations than we'd like. Mark and I sent one to you because you’ve played an important role in our lives. (Or we owe you money.) Regardless, we want you to share our wedding celebration. But keep in mind, this invite comes with conditions ... <br><br>

          <a href="#" target="_blank"><button class="button-small"> Read More </button></a>
     </p>
     </li>
<% end %>
