<ul class="content">
     <li class="title"><h1>We're getting hitched!</h1></li>
     <li class="tagline"><h4>And we want <strong>you</strong> to join the celebration!</h4></li>
      <li class="call-to-action">
           <a href="#" target="_blank"><button> RSVP </button></a>
      </li>
</ul

<% content_for :feature do %>
     <li class="subtitle"><h2>  01 to 03 September 2017 </h2></li>
     <li class="divider"></li>
     <li class="description">
     <p>
          Look. Mark and I fully understand that we won't have this sort of pull ever again. Only a wedding motivates kinfolk (family and friend) to consume cherished vacation time and travel absurd distances. <br><br>

          That’s why we’re taking full advantage. We’ve only 84 invitations and sent one to you because you’ve played an important role in our lives. (Or we owe you some money.) Regardless, we want you at our wedding. But keep in mind, this invite comes with conditions ... <br><br>

          <a href="#" target="_blank"><button class="button-small"> Read More </button></a>


     </p>
     </li>
<% end %>
