<% content_for :background do %>
     class="flexbox traveler background"
<% end %>

<ul class="content">
     <li class="title"><h1> Take the high road. </h1></li>
     <li class="tagline"><h4> Here's the 411 on all things travel. </h4></li>
</ul

<% content_for :feature do %>
     <li class="subtitle"> <h2> logistics </h2>
     <li class="divider"></li>
     <li class="description">
          <span>  <strong> Address of the Accomodations </strong> <br>
               Rehearsal dinner hosted by the Groom's Mama and her Beau <br><br>
               <strong> Recommended Airport </strong> <br>
               Rehearsal dinner hosted by the Groom's Mama and her Beau <br><br>
               <strong> Favorite Travel Sites for Cheap Airfares </strong> <br>
               Rehearsal dinner hosted by the Groom's Mama and her Beau <br><br>
               <strong> Map </strong> <br>
               Rehearsal dinner hosted by the Groom's Mama and her Beau <br><br>

               <%= button_to "RSVP", new_reservation_path, method: :get, class: 'button button-small' %>
          </span>
     </li>
<% end %>
