// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
}

a[href] {
  text-decoration: none;
  color: darkgreen;
}

body {
  text-align: center;
}

ul {
  border-style: dashed;
}
