/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Sue+Ellen+Francisco');

body {
  background-color: ghostwhite;
  font-family: 'Sue Ellen Francisco', cursive;
}

header {
  background-color: lightgreen;
}

h1 {
  text-align: center;
  color: floralwhite;
  font-size: 4vw;
}

p {
  font-size: 2.5vw;
  color: slategray;
}

a {
  text-decoration: none;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 1.5vw;
}

a:hover {
  color: khaki;
}

li {
  font-family: 'Permanent Marker', cursive;
  color: teal;
}

#x-remove {
  color: #cccccc;
  font-size: 2vw;
}

#x-remove:hover {
  color: red;
}

h2 a {
  font-size: 2vw;
  border: lightgreen solid 1px;
  border-radius: 50px;
  padding: 10px;
}

h2 a:hover {
  background-color: lightgreen;
  color: lemonchiffon;
}
