// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  text-align: center;
  font-family: sans-serif;
  // text-decoration: none;
}

div {
  margin-top: 100px;
}

.links {
  margin-top: 75px;
}

// body {
// background:
// radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
// radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
// #8a3;
// background-size: 20px 20px;
// }
