// Place all the styles related to the animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: courier;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: forestgreen;
}

.animal-image-thumbnail img {
  width: 200px;
  border-radius: 50%;
  margin: 30px;
  border: 3px black solid;
}

.animal-main-title {
  text-align: center;
}

.index-animal {
  // width: 300px;
  display: inline-block;
  padding: 10px;
}

.index-animal-sidebar {
  padding: 20px 0;
}

footer {
  height: 75px;
  width: 100%;
  bottom: 0;
  font-size: .8em;
  position: absolute;
}

.side-bar {
  position: fixed;
  text-align: center;
  height: 100%;
  width: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  color: forestgreen;
  background-color: white;
  border-right: 4px black solid;
}

.side-bar p, h1 {
  text-align: center;
}

.side-bar header {
  padding: 15px 0;
}

.animal-title-sidebar {
  padding: 3px 0;
}

.index-animal-sidebar {
  overflow: scroll;
}

.content {
  // clear: both;
  display: block;
  // width: 80em;
  // float: right;
  // padding-left: 204px;
  margin-left: 204px;
}

.home-button {
  padding-bottom: 20px;
}

.show-animal {
  text-align: center;
}

.show-animal.animals-nav {
  padding-top: 30px;
}

.show-animal-image {
  border: 2px black solid;
  margin: 20px;
  width: 50%;
}

.show-animal.animal-name {
  padding-top: 30px;
}
