/*// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


/************************************************
INDEX
*************************************************/

#index_site {
  /*text-align: center;*/
}

#index_first_section {
  position: relative;
  vertical-align: middle;
}

#index_first_section h1 {
  display: inline-block;
  line-height: 100px;
}

#index_first_section p {
  display: inline-block;
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
}

#index_first_section img {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
}




#index_list_section section{
  position: relative;
  display: inline-block;
  width: 100%;
}

#index_list_section a {
  list-style: none;
}

#index_list_section p {
  margin: 0;
  vertical-align: middle;
}

#index_animal_name {
  display: inline-block;
  width: 20%;
  float: left;
}
#index_animal_info {
  display: inline-block;
  width: 50%;
  /*float: left;*/
}
#index_animal_buttons {
  display: inline-block;
  float: right;
  /*position: absolute;
  right: 0%;*/
}

#index_animal_buttons a {
  display: inline-block;
}
#index_animal_buttons img {
  vertical-align: middle;
}


/************************************************
SHOW
*************************************************/


#show_section {
  position: relative;
  text-align: center;
}

#show_about_text {
  padding: 3%;
  background-color: #0E8044;
  text-align: justify;
}
