// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Sarina');

* {
  text-align: center;
  font-family: 'IM Fell DW Pica SC', serif;
  padding: 0;
  margin: 0;
}

.img_name {
  display: inline-table;
  margin: 3% auto;
  list-style: none;
  width: 200px;
}

.banner {
  font-family: 'Sarina', cursive;
  font-size: 4.0em;
  font-weight: lighter;
  max-width: 700px;
  margin: 25px auto;
}

.small_pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.show_pic {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.img_name:hover,.options a:hover {
  opacity: 0.5;
}

.options {
  padding: 25px 0 100px 0;
}

.options h2 {
  background-color: crimson;
  display: inline;
  padding: 0 15px;
  margin: 0 5px;
}

.options a {
  font-family: 'Sarina', cursive;
  font-weight: lighter;
}

.form {
  margin: 15px 0;
  font-size: 1.2em;
}
