/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*** google fonts ***/
@import url('https://fonts.googleapis.com/css?family=Macondo');

/*** main structure ***/
* {
  box-sizing: border-box;
}

html {
  background-color: cornflowerblue;
  height: 100%;
}

body {
  width: 800px;
  max-width: 90%;
  margin: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*** header ***/
header {
  background-color: pink;
  padding: 2%;
  min-height: 20%;
}

header h1 {
  font-size: 2.5em;
}

header a {
  transition: all 0.5s;
}

/*** navigation ***/
header nav ul {
  padding: 0;
}

header nav li {
  display: inline-block;
  list-style-type: none;
  width: 120px;
  margin-right: 1%;
}

header nav li a {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Macondo', cursive;  padding: 4%;
  background-color: lavender;
  border-radius: 5px;
}

header nav li.selected a {
  background-color: indigo;
  color: lavender;
}

/*** main ***/
main {
  padding: 2%;
  height: 60%;
  flex: 1;
}

/*** footer ***/
footer {
  padding: 2%;
  background-color: pink;
}

footer p {
  color: indigo;
}

/*** forms ***/
form {
  width: 400px;
  max-width: 90%;
  margin: auto;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 3%;
}

input[type="submit"] {
  display: block;
  width: 100px;
  margin: auto;
}

/*** general styling ***/
body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  font-family: 'Macondo', cursive;
}

h2 {
  color: indigo;
}

a {
  text-decoration: none;
  color: blueviolet;
}

a:hover, header nav li.selected a:hover {
  color: cornflowerblue;
}

a.delete {
  color: red;
}

a.delete:hover {
  color: orange;
}

img {
  width: 90%;
  max-width: 400px;
}
