 @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

body{
   background-image:  url('background.png');
   font-family: "Baloo Bhaina", fantasy, "sans-serif";
   color: black;
   font-weight: bolder;
   font-size: 1.1em;
   margin-left: 70px;
   background-repeat: repeat;
 }

 h1 {
   font-size: 2.2em;
   margin-top: 50px;
   margin-left: 50px;
 }

.home_img img{
   width:200px;
   border-radius: 70%;
 }

.index-img img {
   width:200px;
   border-radius: 50%;
 }

a {
   text-decoration: none;
   color: black;
 }

.animal_pic img {
  width: 500px;
  border-radius: 40%;
}

p.animal_pic {
  display: inline-block;
  width :50%;
}

.details {
  display: inline-block;
  float : right;
  margin-top: 70px;
  margin-right: 300px;
}

table {
  margin-left: 50px;
}

tr {
  line-height: 50px;
  text-align: center;
}

td {
  padding-right: 20px;
}

.button {
  width: 150px;
  color: white;
  background-color: #00b3b4;
  border-radius: 999px;
}
