// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, span,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;

	color: white;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}

	@media all and (min-width: 960px) {
	    body {
	        font-size: 16px;
	    }
	}

	@media all and (max-width: 959px) and (min-width: 600px) {
	    body {
	        font-size: 12px;
	    }
	}

	@media all and (max-width: 599px) {
	    body {
	        font-size: 8px;
	    }
	}

		.header {
		    display: flex;
		    flex-direction: row;
		    flex: 1 1 auto;
		    min-height: 8em;
              max-height: 8em;

		//     background-color: yellow;
		}

			.logo {
				display: flex;
				flex: 1 1 auto;

				align-items: center;
				justify-content: flex-start;
				margin-left: 3em;

				// background-color: pink;
			}

				.logo a {
					color: white;
					font-family: 'Gravitas One', serif;
					font-size: .8em;
					letter-spacing: -.04em;
					text-decoration: none;
					text-transform: lowercase;
				}

                    .logo img {
                         max-height: 8em;
                    }

			.navigation {
			    display: flex;
			    flex: 1 1 auto;

			    align-items: center;
			    justify-content: flex-end;
			    margin-right: 1em;

			    /*background-color: skyblue;*/
			}

				.navigation li {
				    float: left;
				    padding: 0 0 0 1em;
				}

				.navigation a {
					padding: 1em;
				}

					@media all and (max-width: 599px) {
					    .navigation a {
						   font-size: 1.8em;
					    }
					}
					.navigation a:hover {
						padding: 1em;

						background: #af4f35;
						border-radius: .8em;
					}

					.navigation a:active {
						padding: 1em;

						background: #749f88;
						border-radius: .8em;
					}

					.navigation .active {

						background: #749f88;
						border-radius: .8em;

					}

		.main {
		    display: flex;
		    flex-direction: row;
		    flex: 1 1 auto;
              min-height: 70vh;

		    align-items: center;
		    padding: 0 3em 3em;

		    /*background-color: orange;*/
		}

			.placeholder {
				display: flex;
				flex: 1 0 50%;

				/*background-color: teal;*/
			}

			.content {
			    display: flex;
			    flex-direction: column;
			    flex: 1 2 auto;

			    /*background-color: plum;*/
			}

                    .list {
                    display: flex;

                    margin: 0 3em 0 0;
                    padding-bottom: 1em;

                    /*background-color: red;*/
                    }

				.title {
					display: flex;

					margin: 0 3em 0 0;
					padding-bottom: 1em;

					/*background-color: red;*/
				}

				.tagline {
					display: flex;

					margin: 0 3em 0 0;
					padding-bottom: 1em;

					/*background-color: blue;*/
				}

				.call-to-action {
					display: flex;

					margin: 0 3em 0 0;
					padding-bottom: 1em;

					/*background-color: green;*/
				}

				.contact-form {
					display: flex;
					flex-direction: column;
					flex: 1 2 auto;

					margin: 0 3em 0 0;

					/*background-color: purple;*/
				}

                    .content li > p {
                         line-height: .2em;
                    }

                    .content li > button {
                         margin-bottom: 3em;
                    }

	.section {
	    display: flex;
	    flex-direction: column;
	    flex: 1 1 auto;

	    background-color: purple;
	}

		.feature {
			display: flex;
			flex-direction: row;

			align-items: center;
			padding: 3em;

			background-color: #1d1110;
			/*margin: auto;*/
		}

			.subtitle {
				display: flex;

				/*background-color: blue;*/
			}

			.divider {
				display: flex;

				background-color: white;
				width: 8px;
				height: 8em;
				margin: 0 3em;
			}

			.description {
				display: flex;
				/*background-color: red;*/
			}

	.footer {
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;
		max-height: 6em;
		min-height: 6em;


		background-color: #4b3024;
	}

		.copyright {
			display: flex;
			flex: 1 1 auto;

			align-items: center;
			margin-left: 3em;

		    /*background-color: violet;*/
		}

		.social {
			display: flex;
			flex: 1 1 auto;

			align-items: center;
			justify-content: flex-end;;
			margin-right: 3em;

			/*background-color: lightgreen;*/
		}

               .social-facebook {
				margin-right: 3em;

				background-image: asset-data-url("social-facebook.png");
			}

				.social-facebook:hover {
					background-image: asset-data-url("social-facebook-hover.png");
				}

			.social-mail {
				background-image: asset-data-url("social-mail.png");
			}

				.social-mail:hover {
					background-image: asset-data-url("social-mail-hover.png");
				}

			.social-instagram {
				margin-right: 3em;

				background-image: asset-data-url("social-instagram.png");
			}

			.social-instagram:hover {
				 background-image: asset-data-url("social-instagram-hover.png");
			}


			.social-icon {
				background-size: cover;
				height: 4em;
				width: 4em;
			}

			.social-link {
				position: absolute;

				background-color: transparent;
				height: 3em;
				width: 3em;
			}


.accountant {
	background-color: #8a402e;
	background-image: asset-data-url("accountant.png");
}

.bride-and-groom {
	background-color: #2c5c58;
	background-image: asset-data-url("bride-and-groom.png");
}

.designer {
	background-color: #8a402e;
	background-image: asset-data-url("designer.png");
}

.developer {
	background-color: #434138;
	background-image: asset-data-url("developer.png");
}

.engaged {
	background-color: #2c5c58;
	background-image: asset-data-url("engaged.png");
}

.traveler {
	background-color: #8a402e;
	background-image: asset-data-url("engaged.png");
}

.background {
	background-position: center top;
	background-size: cover;
}

.right-align {
	align-items: flex-end;
	margin: 0 0 0 3em;
	text-align: right;
}

.hidden {
     display: none;
}

h1, h2, h3 {
	font-family: 'Gravitas One', serif;
	letter-spacing: -.01em;
	text-transform: lowercase;
}

h1 {
	font-size: 4.8em;
}

h2 {
	font-size: 3.0em;
}

h3 {
	font-size: 2.0em;
}

h4, h5, h6, p, span, a, input, textarea {
	font-weight:400;
}

h4 {
	font-size: 2.4em;
}

h6 {
	font-size: 1em;
	letter-spacing: .06em;
	text-transform: uppercase;
}

p, span {
	font-size: 1.6em;
	letter-spacing: .04em;
	line-height: 1.8em;
}

@media all and (max-width: 599px) {
    p, span {
	   font-size: 2.4em;
    }
}

a {
	color: white;
	font-size: 1.2em;
	letter-spacing: .08em;
	text-decoration: none;
	text-transform: uppercase;
}

	@media all and (max-width: 599px) {
	    a {
		   font-size: 2.4em;
	    }
	}


button {
	padding: .6em .8em;

	background-color: #af4f35;
	border: none;
	border-radius: .4em;
	color: white;
	display: inline-block;
	font-family: 'Source Sans Pro', serif;
	font-size: 1.8em;
	font-weight: 400;
	letter-spacing: .04rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

	button:hover {
		background-color: #ca5839;
	}

.button-small {
     font-size: .8em;
     margin-right: .4em;
}

input {
	display: flex;
	padding: .6em .6em;
	margin-bottom: .6em;

	background: transparent;
	border: solid .6em white;
	border-bottom: none;
	border-right: none;
	border-top: none;
	border-radius: .4em;

	color: white;
	font-size: 1.8em;
	font-weight: 400;
	letter-spacing: .04em;

	transition: all 0.3s ease-in-out;
	}

input:hover {
	background: white;
	border: solid .6em #af4f35;
	border-bottom: none;
	border-right: none;
	border-top: none;

	color: #af4f35;

}

textarea {
	display: flex;
	padding: 1.2em .6em;
	margin-bottom: 1em;

	background: transparent;
	border: solid .6em white;
	border-bottom: none;
	border-right: none;
	border-top: none;
	border-radius: .4em;

	color: white;
	font-size: 1.8em;
	font-weight: 400;
	letter-spacing: .04em;

	transition: all 0.3s ease-in-out;
	}

textarea:hover {
	background: white;
	color: #af4f35;
	border: solid .6em #af4f35;
	border-bottom: none;
	border-right: none;
	border-top: none;
}

::-webkit-input-placeholder {
	color: white;
	opacity: 0.3;
}

:-ms-input-placeholder {
	color: white;
	opacity: 0.3;
}

::-moz-placeholder {
	color: white;
	opacity: 0.3;
}

:-moz-placeholder {
	color: white;
	opacity: 0.3;
}
